body {
    margin: 0;
    background-color: #f6ebda;
}
    
header {
    background-color: #1a392b; 
    color: #f3d5a5;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f4e1c4;
    border-left: 4px solid #1a392b;
    border-top: 1px solid #f3d5a5;
    border-bottom: 1px solid #f3d5a5;
    border-right: 1px solid #f3d5a5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
}

h2 {
    color: #345044; 
}


a:hover {
    text-decoration: underline;
}
footer {
    background-color: #1a392b; 
    color: #f3d5a5;
    padding: 20px;
    font-size: 0.9em;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

footer h2, footer p, footer a {
    margin: 0 10px; 
}

footer a {
    color: #f3d5a5;
    text-decoration: none;
}

